@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include nb-install-component() {
  position: relative;
  top: -16px;

  nb-card {
    padding: 22px 0;
  }

  ::ng-deep nb-tabset .tabset {
    border-bottom: none;
  }

  table {
    width: 100%;
    box-shadow: none;
  }

  td,
  th {
    border-bottom: 1px solid #EBEFF2;
    border-top: none;
    padding-top: 18px;
  }

  ::ng-deep thead tr {
    height: 36px;
  }

  ::ng-deep thead tr th {
    color: #334D6E;

    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
  }

  ::ng-deep tbody tr {
    height: 112px;
    color: #192A3E;

    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 23px;
  }

  .tab {
    padding: 1rem 0;
  }

  ul.tab-nav {
    width: 100%;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    list-style: none;
    padding-inline-start: 0;
  }

  .tab .tab-link {

    font-size: 16px;
    letter-spacing: 0;
    line-height: 0;
    font-weight: 400;
    border-radius: 22px;
    color: #334D6E;
  }

  .tab.active .tab-link,
  .tab:hover .tab-link {
    background-color: #007BFF;
    color: #FFFFFF;
  }

  .tab .tab-link {
    height: 31px;
    width: 96%;
    padding: 0.5rem 2rem;
    text-decoration: none;
  }

  .tab a::before {
    display: none !important;
  }

  .tab a span {
    position: relative;
    right: -15px;
    /* font-weight: 400; */
    text-transform: none;
    line-height: 0;
  }

  .tab .badge {
    left: 0.6rem;
    top: 1rem;
    right: unset;
    border-radius: 16px;
    height: 31px;
    width: 31px;
    cursor: pointer;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
    background-color: #334D6E;
  }

  .tab.active .badge,
  .tab:hover .badge {
    background-color: #007BFF;
    color: #FFFFFF;
  }

  ::ng-deep td.mat-cell:first-of-type,
  ::ng-deep td.mat-footer-cell:first-of-type,
  ::ng-deep th.mat-header-cell:first-of-type {
    padding-left: 14px;
    width: 15%;
    position: relative;
  }

  .table.codeanalysis ::ng-deep .mat-column-issue {
    width: 20%;
  }

  .severity-render {
    height: 22px;
    width: 56px;
    border-radius: 4px;
    color: #FFFFFF;

    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 22px;
    text-align: center;
  }

  .severity-render.high {
    background-color: #F7685B;
  }

  .severity-render.low,
  .severity-render.info {
    background-color: #10D480;
  }

  .severity-render.medium {
    background-color: #FFCC67;
  }

  .issue-sep {
    display: flex;
    height: 23px;
  }

  .issue-sep mat-icon {
    font-size: 10px;
    opacity: 0.5;
    margin-right: 11px;
    margin-left: 0;
    height: 10px;
    width: 10px;
    margin-bottom: 2px;
  }

  ::ng-deep nb-select button {
    padding: 0 0 !important;
    width: 80px;
    min-width: 40px;
    color: #109CF1 !important;
  }

  ::ng-deep .filter-option,
  ::ng-deep nb-select button {
    font-family: "IBM Plex Sans" !important;
    font-size: 12px !important;
    letter-spacing: 0.1px !important;
    line-height: 18px !important;
    width: 80px;
    text-align: center !important;
  }

  ::ng-deep nb-select.appearance-outline.status-basic .select-button:focus {
    background-color: #FFFFFF;
    border: none;
  }

  .issue-sep.high mat-icon {
    color: #B12316;
  }

  .issue-sep.medium mat-icon {
    color: #F7685B;
  }

  .issue-sep.low mat-icon {
    color: #FFB946;
  }

  .issue-sep .issue-count {
    width: 55px;
    color: #192A3E;

    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.07px;
    line-height: 12px;
  }

  .filter {
    position: absolute;
    right: 5px;
    top: 16px;
  }

  .file-button {
    color: #FFFFFF;

    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    text-align: center;
    height: 22px;
    width: 90px;
    border-radius: 4px;
    background-color: #109CF1;
    cursor: pointer;
  }
  .broadcast{
    font-size: 14px;
    font-weight: 500;
  }
  .cvss {
    height: 31px;
    width: 31px;
    background-color: #F7BA5B;
    border-radius: 16px;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
  }

  .empty-table {
    text-align: center;
    background-color: #ffffff;
    padding: 1rem;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
  }
}
