@import '../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
  ::ng-deep nb-progress-bar {
    width: 371px;
    border: 1px solid #C2CFE0;
    border-radius: 4px;
  }

  .invisible {
    display: none;
  }

  ::ng-deep .ngx-file-drop__drop-zone label {
    position: relative;
    top: -86px;
    height: 34px;
    width: 138px;
    border-radius: 4px;
    background-color: #109CF1;
    border: none;
    outline: none;
    color: #FFFFFF;
    
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.11px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    margin: auto;
  }

  ::ng-deep .ngx-file-drop__drop-zone span {
    height: 15px;
    width: 130px;
    color: #334D6E;
    
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
    position: absolute;
    bottom: 19px;
    left: 31.5px;
  }

  ::ng-deep .ngx-file-drop__drop-zone img {
    position: absolute;
    bottom: 48px;
    left: 89px;
    height: 16px;
    width: 14px;
  }

  ::ng-deep .ngx-file-drop__drop-zone {
    box-sizing: border-box;
    height: 98px !important;
    width: 192px;
    border: 1px solid #C2CFE0 !important;
    opacity: 0.46;
    border-radius: 4px !important;
    margin-top: 78px !important;
    position: relative;
  }


  .select-file {
    margin: 0 auto;
  }
}
