<div class="top-nav-guide"><span>{{ title }}</span></div>

<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="support-title">
          <span>About Kensa Framework</span>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="description">
          <p style="font-family: 'IBM Plex Sans'">
            Kensa is an automated, all-in-one mobile application (Android/iOS) pen-testing, malware analysis and security assessment framework capable of performing static and dynamic analysis. Kensa support mobile app binaries (APK, IPA ) along with
            zipped source code and provides REST APIs for seamless integration with your CI/CD or DevSecOps pipeline.The Dynamic Analyzer helps you to perform runtime security assesment and interactive instrumented testing.
          </p>
        </div>
        <div class="support-title">
          <span>Active Collaborators</span>
        </div>
        <div class="line"></div>
        <div>
          <p ><a href="" class="subtitle-2 text-decoration-none collapse-title">Magaofei</a></p>
          <p ><a href="" class="subtitle-2 text-decoration-none collapse-title">Matan Dobrushin</a></p>
          <p ><a href="" class="subtitle-2 text-decoration-none collapse-title">Vincent Nadal</a></p>
        </div>

      </nb-card-body>

    </nb-card>
  </div>
</div>
