<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Files</nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <div class="close-dialog-container"><div class="close-dialog"><button (click)="ref.close()">Close</button></div></div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<div class="row">
  <div class="col-12">
    <div class="table">
      <table mat-table [dataSource]="dataSourceURLS" class="mat-elevation-z8">
        <ng-container matColumnDef="urls">
          <th mat-header-cell *matHeaderCellDef>
            <span>URLs</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let urls of element.urls"><span> {{urls}} </span></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="path">
          <th mat-header-cell *matHeaderCellDef> File </th>
          <td mat-cell *matCellDef="let element">
            <div (click)="open(dialog, element.path)" class="file-button"><span>File</span></div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsURLS"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsURLS;"></tr>
      </table>
      <div class="empty-table" *ngIf="emptyCheck">No data</div>
    </div>
  </div>
</div>
